<article class="glass1 pane">
    <script>
        // dynamic loading of css using scripts that are loaded at render time
        var css = document.createElement("link")
        css.rel = "stylesheet"
        css.href = "/manager_page.css"

        document.head.appendChild(css)

        async function removeItem(id) {
            new Promise((res, rej) => {
                $.ajax({
                    url: `/v1/restaurants/{{restaurant_id}}/menus/{{menu_id}}/items/${id}`,
                    method: "DELETE"
                })
                res()
            })
            .then((res) => {
                location.reload()
            })
        }

        async function updateItem(id) {
            new Promise((res, rej) => {
                $.ajax({
                    url: `/v1/restaurants/{{restaurant_id}}/menus/{{menu_id}}/items/${id}`,
                    method: "PATCH",
                    data: {
                        name: document.getElementById(`${id}_name`).value,
                        price: document.getElementById(`${id}_price`).value,
                    }
                })
                res()
            })
            .then((res) => {
                location.reload()
            })
        }
    </script>

    <h1>menu manager.</h1>
    <table class="glass3 pane">
        <tr>
            <th class="id">id</th>
            <th class="title">name</th>
            <th class="price">price</th>
            <th class="actions">actions</th>
        </tr>

        {{#each items}}
            <tr id="{{this.id}}">
                <td class="table-item">{{this.id}}</td>
                <td class="table-item"><input id="{{id}}_name"  class="input" type="text" value="{{this.name}}" /></td>
                <td class=""><input id="{{id}}_price"  class="input" type="number" step="0.01" value="{{this.price}}" /></td>
                <td>
                    <button  class="action-button" onclick="updateItem({{this.id}})">✏️</button>
                    <button class="action-button" onclick="removeItem({{this.id}})" >❌</button>
                </td>
            </tr>
        {{/each}}

        <form action="/v1/restaurants/{{restaurant_id}}/menus/{{menu_id}}/items" method="POST">
            <tr>
                <td>new</td>
                <td><input name="name" type="text" required="true" class="input"/></td>
                <td><input name="price" type="number" required="true" step="0.01" class="input"/></td>
                <td><input type="submit" class="input"/></td>
            </tr>
        </form>
    </table>
</article>