<article class="glass1 pane">
    <script>
        // dynamic loading of css using scripts that are loaded at render time
        var css = document.createElement("link")
        css.rel = "stylesheet"
        css.href = "/manager_page.css"

        document.head.appendChild(css)

        async function removeItem(id) {
            new Promise((res, rej) => {
                let a = $.ajax({
                    url: `/v1/restaurants/{{restaurant_id}}/menus/${id}`,
                    method: "DELETE"
                })
                console.log(a)
                res()
            })
            .then((res) => {
                location.reload()
            })
        }

        async function updateItem(id) {
            new Promise((res, rej) => {
                let a = $.ajax({
                    url: `/v1/restaurants/{{restaurant_id}}/menus/${id}`,
                    method: "PATCH",
                    data: {
                        title: document.getElementById(`${id}_title`).value,
                        RestaurantId: {{restaurant_id}}
                    }
                })
                console.log(a)
                res()
            })
            .then((res) => {
                location.reload()
            })
        }
    </script>

    <h1>menu manager.</h1>
    <table class="glass3 pane">
        <tr>
            <th class="id">id</th>
            <th class="title">title</th>
            <th class="actions">actions</th>
        </tr>

        {{#each menus}}
            <tr id="{{this.id}}">
                <td class="table-item">{{this.id}}</td>
                <td class="table-item"><input id="{{id}}_title"  class="input" type="text" value="{{this.title}}" /></td>
                <td>
                    <button  class="action-button" onclick="updateItem({{this.id}})">✏️</button>
                    <button class="action-button" onclick="removeItem({{this.id}})" >❌</button>
                </td>
            </tr>
        {{/each}}

        <form action="/v1/restaurants/{{restaurant_id}}/menus" method="POST">
            <tr>
                <td>new</td>
                <td><input name="title" type="text" required="true" class="input"/></td>
                <td><input type="submit" class="input"/></td>
            </tr>
        </form>
    </table>
</article>