<article class="glass1 pane restaurant-article">

    <script>
        // dynamic loading of css using scripts that are loaded at render time
        var css = document.createElement("link")
        css.rel = "stylesheet"
        css.href = "/restaurant.css"

        document.head.appendChild(css)
    </script>

    <section style="background-image: url('{{restaurant.image}}');" class="pane description-box">
        <div class="glass2 pane-cover">
            <div class="pane-cover-header">
                <h2>Menus</h2>
                <h2>{{restaurant.name}}</h2>
            </div>
        </div>
    </section>

    {{#each restaurant.Menus}}
        <a href="/restaurants/{{../restaurant.id}}/{{this.id}}">
            <section class="glass3 pane menu" style="text-align: left;">
                <h3 style="margin-bottom: 3em; text-align: center;">{{this.title}}</h3>
                <table>
                    <tr>
                        <th class="name">Item name</th>
                        <th class="price">price</th>
                    </tr>
                    
                    {{#each this.Items}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>£{{this.price}}</td>
                        </tr>
                    {{/each}}
                </table>
            </section>
        </a>
    {{/each}}
    
</article>